
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{%static 'dashboard.css'%}">
  <script src="https://kit.fontawesome.com/2edfbc5391.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
   .far{
      color: #a7abde;
      padding-l
    .col-div-3 .box p {
      font-size: 25px;

    }}

    .box .fas {
      color: #a7abde;
      position: absolute;
      padding-top: 50px;


    }

    .box .fas .fa-home {
      color: #a7abde;
      padding-left: 20px;
    }
    h2{
        position:relative;
        left: 10px;
    }
    .box{
        width:31%
    }
  </style>

</head>

<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3 align="center">Admin Dashboard</h3>
    </div>
    <div class="right_area">
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <!--<center>
      <img src="{%static 'logo1.png'%}" class="profile_image" alt="">
      <h4>-->
       
      </h4>
    </center>
    <h2><a href={%url 'admindashboard'%}><i class="fa-solid fa-gauge-simple-high"></i><span>Dashboard</span></a>
    </h2>
    <a href="{%url 'projectindex'%}"><i class="fa-solid fa-house"></i><span>Home</span></a>
    <a href="{%url 'projectdonar' %}" class="active"><i class="fa-solid fa-hand-holding-heart"></i><span>Donor form</span></a>
    <a href="{%url 'projectdonation' %}"><i class="fa-solid fa-bowl-food"></i><span>Donations</span></a>
    <a href="{%url 'adminreg' %}"><i class="fa-solid fa-house-user"></i><span>Orphange List</span></a>
    <a href="{%url 'donordetails'%}"><i class="fa-solid fa-circle-info"></i><span>Donor details</span></a>
    <a href="{%url 'index'%}"><i class="fa-solid fa-certificate"></i><span>Certificate</span></a>
    <a href="{%url 'projectabout'%}"><i class="fa-regular fa-message"></i><span>How to use?</span></a>
    <a href="{%url 'logout'%}"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a>
    
    <!-- <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a> -->
  </div>
  <!--sidebar end-->

  <div class="content">
<!--<h1 align="center">Welcome to Dashboard</h1>
    <hr>-->
    <br>
    <center>
      <div class="ip">
      <img src="{%static 'logo3.png'%}" class="profile_image" alt="">
      </div>
    </center>  
    </div>
</body>

</html>