<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title></title>
<link href='external.css' rel='StyleSheet'/>

</head>
<body>
<form id='f1' method="POST">
    {%csrf_token%}
{{pid}}
<table border='2' align='center'>
    <tr>
    <td class='exstyle'>Product Id</td>
    <td>
    <input type='text' readonly id='pid' name='pid' value="{{product.pid}}"/>
    </td>
    </tr>
    <tr>
    <td class='exstyle'>Product Name</td>
    <td>
    <input type='text' id='pname' name='pname' value="{{product.pname}}"/>
    </td>
    </tr>
    <tr>
    <td class='exstyle'>Price</td>
    <td>
    <input type='text' id='price' name='price' value="{{product.price}}"/>
    </td>
    </tr>
    <tr>
    <td class='exstyle'>Quantity</td>
    <td>
    <input type='text' id='quantity' name='quantity' value="{{product.quantity}}"/>
    </td>
    </tr>
    <tr>
    <td>
    <input type='submit'  id='b1' name='b1' onclick="checkbutton('update')"  value='Update'/>
    </td>
    
    
    <input type='button' id='b3' name='b3' value='clear'/>
    </td>
    </tr>
    </table>
</form>
</body>
</html>


