{%extends 'header.html'%}
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        {%block content%}

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>About</title>
        <link rel="stylesheet" href="{%static 'projectabout.css'%}">
    </head>
    <body align="center">
        <div class="container">
        <h2 style="color:#fff;" align="center">Welcome to our website</h3>
        <h1 style="color:#fff;" align="center">Surplus Food Management</h1>
    <div class="guidelines">
            <h1 style="color: rgb(39, 14, 131);"><b><u>Guidelines</u></b></h1>
                <h3 style="color:rgb(9, 129, 39);">This website is about donating the excess food to the Orphanages</h3>
                <div>            
            <div style="color: rgb(29, 27, 27);">
                <h2 style="color: rgb(182, 12, 97);"><i><b>Steps to be followed by Donor</b></i></h2>
                <div style="color:rgb(25, 25, 27)">
           <p> Donor have to fill the donor form</p>
           <p>submit the details,and collect the certificate</p>
           <p>The orphanages will contact the donor</p>
            </div>
        </div>
        
        <div>
                <h2 style="color: rgb(194, 31, 31);"><i><b>Steps to be followed by Orphanage</b></i></h2>
                <div style="color:rgb(6, 54, 68)">
                    <p>The Orphanage first register in the site</p>
                    <P>logins will be actived ,after approval of admin(to verify the organization)</P>
                    <p>orphanage can login into donation tab,where all donation details are available</p>
                    <p>The required orphanage can contact to particular donor,and before contacting they have to click on request button</p>
        </div>
        </div>
        </div>
    </div>
    {%endblock%}

    </body>
</html>
                
